body{
    background: url(https://html.webinane.com/lifeline/images/boxed-bg1.jpg) repeat 0 0 transparent;
    background-attachment: fixed;
    background-size: cover;
}
.top-bar{
    height: 40px;
    background: #333333;
}
.contact{
    width: 650px;
    height: 40px;
}
.adress{
    font-size: 12px;
    color: #9c9191;
}
.adress p{
    margin-top: 14px;
    margin-left: 8px;
}
.mobile{
    font-size: 12px;
    color: #9c9191;
}
.mobile p{
    margin-top: 14px;
    margin-left: 8px;
}
.mail{
    font-size: 12px;
    color: #9c9191;
}
.mail p{
    margin-top: 14px;
    margin-left: 8px;
}
.social{
    height: 40px;
    width: 200px;
    color: #9c9191;
    justify-content: space-evenly;
    align-items: flex-end;
}
.soc{
    background-color: #ffffff;
    height: 30px;
    width: 30px !important;
    font-size: 40px !important;
    padding: 6px;
    border-radius: 3px 3px 0 0;
    transition: 0.4s;
}
.soc:hover{
    width: 34px !important;
    cursor: pointer;
}
.nav{
    height: 90px;
    background-color: #ffffff;
}
.logo{
    margin-left: 50px;
    height: 90px;
}
.logo img{
    height: 54px;
}
.l{
    font-size: 55px;
}
.logo h1{
    color: #4fc0aa;
}
.menu li{
    list-style: none;
    font-size: 13px;
    margin-right: 40px;
    transition: 0.4s;
}
.donate{
    padding: 10px 15px;
    background:  #4fc0aa;
    font-size: 13px;
    height: min-content;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
}
.menu li:hover{
    list-style: circle;
    color: #4fc0aa;
    cursor: pointer;
}
.menu a:hover{
    color: white;
    background-color:#333333;
    text-decoration: none;
    cursor: pointer;
}
.home{
    height: 90px;
    display: flex;
    align-items: center;
}
.simple{
    width: 150px;
    height: 150px;
    background: azure;
    top: 90px;
    border-top: 3px solid #4fc0aa;
    display: none;
    transition: 0.4s;
    background-color: white;
}
.simple li{
    height: 30px;
    border-bottom: 1px solid #9c9191;
    color: #9c9191;
    width: 130px;
    text-align: center;
    margin-left: 10px;
}
.simple li:last-child{
    border-bottom: none;
}
.home:hover .simple{
    display: block;
}
.simple li:hover{
    list-style: none;
}
.about{
    height: 90px;
    display: flex;
    align-items: center;
}
.about-sim{
    width: 150px;
    height: 150px;
    background: azure;
    top: 90px;
    border-top: 3px solid #4fc0aa;
    display: none;
    transition: 0.4s;
    background-color: white;
}
.about-sim li{
    height: 30px;
    border-bottom: 1px solid #9c9191;
    color: #9c9191;
    width: 100%;
    text-align: center;
}
.about-sim li:hover{
    background-color: #4fc0aa;
    color: white;
    list-style: none;
}
.about-sim li:last-child{
    border-bottom: none;
}
.about:hover .about-sim{
    display: block;
}
.slide{
    height: 530px;
    background-color: whitesmoke;
    padding: 0;
}