body{
    background: url(../img/boxed-bg1.jpg) repeat 0 0 transparent;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.top-bar{
    height: 40px;
    background: #333333;
}
.contact{
    width: 650px;
    height: 40px;
}
.adress{
    font-size: 12px;
    color: #9c9191;
}
.adress p{
    margin-top: 14px;
    margin-left: 8px;
}
.mobile{
    font-size: 12px;
    color: #9c9191;
}
.mobile p{
    margin-top: 14px;
    margin-left: 8px;
}
.mail{
    font-size: 12px;
    color: #9c9191;
}
.mail p{
    margin-top: 14px;
    margin-left: 8px;
}
.social{
    height: 40px;
    width: 200px;
    color: #9c9191;
    justify-content: space-evenly;
    align-items: flex-end;
}
.soc{
    background-color: #ffffff;
    height: 30px;
    width: 30px !important;
    font-size: 40px !important;
    padding: 6px;
    border-radius: 3px 3px 0 0;
    transition: 0.4s;
}
.soc:hover{
    width: 34px !important;
    cursor: pointer;
}
.nav{
    height: 90px;
    background-color: #ffffff;
}
.logo{
    margin-left: 50px;
    height: 90px;
}
.logo a:hover{
    text-decoration: none;
}
.logo img{
    height: 54px;
}
.l{
    font-size: 55px;
}
.logo h1{
    color: #4fc0aa;
}
.menu li{
    list-style: none;
    font-size: 13px;
    margin-right: 40px;
    transition: 0.4s;
    color: #666666;
}
.donate{
    padding: 10px 15px;
    background:  #4fc0aa;
    font-size: 13px;
    height: min-content;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
}
.menu li:hover{
    list-style: circle;
    color: #4fc0aa;
    cursor: pointer;
}
.menu a:hover{
    color: white;
    background-color:#333333;
    text-decoration: none;
    cursor: pointer;
}
.home{
    height: 90px;
    display: flex;
    align-items: center;
}
.simple{
    width: 150px;
    height: 150px;
    background: azure;
    top: 90px;
    border-top: 3px solid #4fc0aa;
    display: none;
    transition: 0.4s;
    background-color: white;
    z-index: 4;
}
.simple li{
    height: 30px;
    border-bottom: 1px solid #9c9191;
    color: #9c9191;
    width: 130px;
    text-align: center;
    margin-left: 10px;
}
.simple li:last-child{
    border-bottom: none;
}
.home:hover .simple{
    display: block;
}
.simple li:hover{
    list-style: none;
}
.about{
    height: 90px;
    display: flex;
    align-items: center;
    
}
.about-sim{
    width: 150px;
    height: 150px;
    background: azure;
    top: 90px;
    border-top: 3px solid #4fc0aa;
    display: none;
    transition: 0.4s;
    background-color: white;
    z-index: 5;
}
.about-sim li{
    height: 30px;
    border-bottom: 1px solid #9c9191;
    color: #9c9191;
    width: 100%;
    text-align: center;
}
.about-sim li:hover{
    background-color: #4fc0aa;
    color: white;
    list-style: none;
}
.about-sim li:last-child{
    border-bottom: none;
}
.about:hover .about-sim{
    display: block;
}
.slide2{
    height: 530px;
    background-color: whitesmoke;
    padding: 0;
}
.causes{
    height: 540px;
    background-color: #ffffff;
}
.gave{
    width: 260px;
}
.gave h2{
    margin-top: 40px;
    font-size: 25px;
    color: #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
    height: 50px;
}
.poor{
    width: 800px;
    margin-left: 15px;
    margin-right: 15px;
}
.poor h2{
    margin-top: 40px;
    font-size: 25px;
    color: #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
    height: 50px;
}
.our{
    color: #4fc0aa;
    margin-right: 10px;
}
.us{
    color: #4fc0aa;
    margin-right: 10px;
}
.money{
    background:rgba(224, 224, 223, 0.95);
    width: 236px;
    height: 80px;
    bottom: 10px;
    transition: all 0.3s ease 0s;
}
.poor h4{
    font-size: 15px;
}
.poor p{
    font-size: 12px;
}
.dollar{
    font-size: 15px;
}
.pict{
    background: #777676;
    margin-top: 72px;
    height: 314px;
}
.need{
    width: 230px;
    height: 314px;
    top: 0;
    justify-content: space-evenly;
}
.need h4{
    font-size: 17px;
    color: white;
}
.need p{
    font-size: 12px;
    color: white;
}
.need h5{
    font-size: 16px;
    padding: 9px 20px;
    background-color: #4fc0aa;
    color: white;
}
.need h6{
    font-size: 11px;
}
.clean{
    height: 314px;
    transition: all 0.3s ease 0s;
}
.help{
    height: 300px;
    background: rgba(224, 224, 223, 0.95);
    width: 224px;
    top: 7px;
    left: 20px;
    padding-left: 20px;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.help h3{
    font-size: 15px;
    margin-top: 30px;
}
.help p{
    font-size: 13px;
}
.help h6{
    font-size: 13px;
}
.help-us{
    font-size: 15px;
}
.amount{
    font-size: 23px !important;
    float: right;
    margin-right: 15px;
    color: #4fc0aa;
}
.doll{
    font-size: 30px;
    color: #7c7c7c;
}
.africa{
    color: #4fc0aa;
}
.text-of-help{
    width: 200px;
}
.clean:hover .help{
    transform: scale(1);
}
.clean:hover .money{
    bottom: -86px;
    z-index: -1;
}
.stuff{
    background: lightseagreen;
    height: 300px;
}
.carousel-of-stuff{
    width: 265px;
    margin-right: 0px;
}
.carousel-of-stuff img{
    border: 4px solid #FFFFFF;
    border-radius: 10px;
}
.inner-of-stuff{
    top: -40px;
}
.indicator-of-stuff{
    bottom: -195px;
}
.indicator-of-stuff li{
    border-radius: 100%;
    border: 2px solid;
    width: 15px;
    height: 15px;
}
.img-of-stuff{
    border: 4px solid #FFFFFF;
    border-radius: 10px;
}
.fade-of-stuff{
    top: -40px;
}
.p-of-stuff{
    font-size: 15px;
}
.ceo{
    margin-left: 10px;
}
.projects{
    height: 510px;
    background-color: whitesmoke;
}
.row-of-project{
    padding-left: 15px;
    padding-right: 15px;
}
.col-of-project h2{
    font-size: 25px;
    margin-top: 40px;
    color: #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
    height: 50px;
}
.col-of-lorem p{
    font-size: 12px;
    color: #818181;
}
.title-of-news{
    color: #656565;
    font-size: 15px !important;
}
.title-of-news:hover{
    color: #656565;
    text-decoration: none;
}
.ind-of-car{
    background: #dedcdc;
    width: 100%;
    height: 140px;
    top: 230px;
    left: -77px;
    border-radius: 5px;
}
.ind-of-car img{
    width: 140px;
    height: 80px;
    border: 2px solid #f8f7f7;
    border-radius: 5px;
}
.ind-of-car p{
    font-size: 12px;
}
.video-of-news{
    background: rgba(0, 0, 0, 0.7);
    width: 240px;
    height: 185px;
    position: absolute;
    visibility: hidden;
}
.player{
    color: white;
    font-size: 85px;
    transition: 0.4s;
}
.col-of-video:hover .video-of-news{
    visibility: visible;
}
.video-of-news:hover .player{
    font-size: 55px;
}
img:hover{
    cursor: pointer;
}
.row-of-welfare{
    width: 100%;
    height: 370px;
}
.icon-div{
    width: 45%;
    height: 70%;
    border: 1px solid #DDDCDC;
    border-radius: 100%;
}
.icon-of-pro{
    font-size: 45px;
    color: #a5a4a4;
}
.text-of-welfare{
    width: 175px;
    margin-left: 10px;
}
.text-of-welfare h6{
    font-size: 14px;
    color: #656565;
}
.text-of-welfare p{
    font-size: 12px;
    color: #818181;
}
.green{
    background-color: #4fc0aa;
    border-radius: 50%;
    transition: 0.4s;
    transform: scale(0);
}
.green h6{
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.green p{
    font-size: 14px;
    margin-bottom: 0px;
}
.green button{
    font-size: 10px;
    color: #aeafae;
    border: none;
    border-radius: 4px;
    outline: none;
}
.col-of-wlef:hover .green{
    transform: scale(1);
}
.footer{
    height: 420px;
}
.img-of-footer{
    background: rgba(0, 0, 0, 0.9);
    filter: brightness(0.5);
    width: 100%;
}
.title-of-footer{
    margin-top: 70px;
}
.title-of-footer h4{
    font-size: 19px;
}
.dotted{
    border-bottom: 1px dotted #939292;
    width: 78px;
    height: 20px;
    margin-left: 10px;
}
.p{
    color: #4fc0aa;
}
.text-of-footer{
    font-size: 11px;
    line-height: 24px;
    color: #969595;
    border-left: 1px dotted #6F6F6F;
    padding-left: 17px;
    margin-top: 25px;
}
.L{
    font-size: 46px;
    float: left;
    margin-right: 10px;
    height: 35px;
    margin-top: 10px;
}
.thoms{
    font-size: 12px;
    color: #cccccc;
}
.australia{
    font-size: 12px;
    color: #767575;
}
.flickr-img{
    margin-top: 25px;
}
.flickr-img img{
    border-radius: 4px;
    margin-top: 7px;
}
.flickr-img img:hover{
    filter: grayscale(1);
}
.adress-of-life{
    margin-top: 25px;
}
.adress-of-life li{
    list-style: none;
}
.details-of-contact{
    color: #cccccc;
    font-size: 12px;
}
.adress-of-life p{
    font-size: 11px;
    color: #767575;
}
.newsletter{
    height: 150px;
    background-color: #4fc0aa;
    margin-top: 75px;
    border-radius: 3px;
    padding-top: 15px;
}
.newsletter h4{
    font-size: 20px;
}
.newsletter p{
    font-size: 12px;
}
.newsletter input{
    width: 84%;
    margin-left: 20px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.66);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
}
.socialicons{
    height: 75px;
}
.sendmail{
    height: 80px;
    background-color: #4fc0aa;
    border-radius: 3px;   
}
.sendmail input{
    width: 84%;
    margin-left: 20px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.66);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
}
.bottom-footer{
    background-color: #323131;
    height: 75px;
}
.bottom-footer p{
    font-size: 12px;
    color: #969595;
}
.contact-page{
    color: #666666;
    background-color: white;
    transition: 0.4s;
}
.contact-page:hover{
    text-decoration: none;
    background-color: white !important;
    color: #4fc0aa !important;
}
